PORT=5000
MONGODB_URI=mongodb+srv://vaultkey-user:VaultKeyUser12345@cluster0.zwndyyu.mongodb.net/vaultkey?appName=Cluster0
CLERK_SECRET_KEY=sk_test_dWAHRkXoKMGa0wDaCT8nQGL9M8AOxF0Noe6J8QfIs5
ENCRYPTION_SECRET=your_32_char_random_secret_here_!!
FRONTEND_URL=http://localhost:5173
